# **Trabalhando com Planilhas do Excel**

In [14]:
#Importando a biblioteca pandas
import pandas as pd

In [15]:
#Leitura dos arquivos
df1 = pd.read_excel("Aracaju.xlsx")
df2 = pd.read_excel("Fortaleza.xlsx")
df3 = pd.read_excel("Natal.xlsx")
df4 = pd.read_excel("Recife.xlsx")
df5 = pd.read_excel("Salvador.xlsx")

In [21]:
#Juntando todos arquivos
df = pd.concat([df1,df2,df3,df4,df5])

In [ ]:
#Exibindo as 5 primeiras linhas
df.head()

In [ ]:
#Exbindo as 5 últimas linhas
df.tail()

In [ ]:
#Exibindo uma amostra de 10 linhas
df.sample(10)

In [ ]:
#Verificando os tipos de dados de cada coluna
df.dtypes

In [29]:
#Alterando o tipo de dado da coluna LojaID
df["LojaID"] = df["LojaID"].astype("object")

In [ ]:
#Verificando os tipos de dados de cada coluna
df.dtypes

In [ ]:
#Exibindo as 5 primeiras linhas
df.head()

In [ ]:
#Verificando a quantidade de linhas e colunas
df.shape

### **Tratando valores faltantes**

In [ ]:
#Consultando linhas com valores faltantes
df.isnull().sum()

In [37]:
#Substituindo os valores numos pela média em memória
df["Vendas"].fillna(df["Vendas"].mean(), inplace=True)

In [ ]:
#Vendo a média da coluna Vendas
df["Vendas"].mean()

In [ ]:
#Consultando linhas com valores faltantes
df.isnull().sum()

In [40]:
#Substituindo os valores nulos por zero
df["Vendas"].fillna(0, inplace=True)

In [48]:
#Apagando as linhas com valores nulos
df.dropna(inplace=True)

In [49]:
#Apagando as linhas com valores nulos com base em uma coluna
df.dropna(subset=["Vendas"], inplace=True)

In [50]:
#Removendo linhas que estejam com valores faltantes em todas colunas
df.dropna(how="all", inplace=True)

### **Criando colunas novas**

In [41]:
#Criando a coluna de receita
df["Receita"] = df["Vendas"].mul(df["Qtde"])

In [ ]:
#Mostrando as 5 primeiras linhas
df.head()

In [43]:
#Criando nova coluna
df["Receita/Vendas"] = df["Receita"] / df["Vendas"]

In [ ]:
#Mostrando as 5 primeiras linhas
df.head()

In [52]:
#Retornando a maior receita
df["Receita"].max()

3544.0

In [53]:
#Retornando a menor receita
df["Receita"].min()

3.34

In [ ]:
#3 maiores receitas
df.nlargest(3, "Receita")

In [ ]:
#3 menores receitas
df.nsmallest(3, "Receita")

In [ ]:
#Agrupamento por cidade
df.groupby("Cidade")["Receita"].sum()

In [ ]:
#Ordenando o conjunto de dados
df.sort_values("Receita", ascending=False).head(10)